<div class="product-container">
  <a routerLink="/product/{{product.id}}" [state]="product" class="product-image"><img src="{{product.url}}"
                                                                                       alt="No Image available"></a>
  <!--  <a routerLink="/product/{{ product.id }}" class="product-image"><img src="{{product.url}}"></a>-->
  <a routerLink="/product/{{product.id}}">{{product.name}}</a>
  <p>{{product.price}} €</p>
  <select class="select-input" [(ngModel)]="quantity">
    <option *ngFor="let opt of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]">{{opt}}</option>
  </select>
  <button class="detail-item" (click)="addToCart()">Add to cart</button>
</div>
