<div class="form-margin">
  <div>
    <label>Full name:</label> <br>
    <div *ngIf="fullname.touched && fullname.invalid" class="error">Full name must have at least 3 characters</div>
    <input type="text" [(ngModel)]="user.fullName" placeholder="(min 3 characters)" minlength="3" required id="fullname" name="fullname" #fullname="ngModel">
  </div>
  <div>
    <label>Address:</label> <br>
    <input type="text" [(ngModel)]="user.address" placeholder="(min 6 characters)" minlength="6" required>
  </div>
  <div>
    <label>Cart Number:</label> <br>
    <input type="text" [(ngModel)]="user.cardNumber" placeholder="(min 16 characters)" minlength="16" required>
  </div>
</div>
